@font-face {
    font-family: myFirstFont;
    src: url(font.ttf);
}

* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  display: grid;
  place-items: center;
  font-family: myFirstFont;
}

.container {
  width: 70vw;
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 5rem;
  text-align: center;
  color: white;
}

.detail {
  font-size: 2rem;
  margin: 4rem 0;
  color: white;
}

.buttons {
  display: flex;
  gap: 2rem;
}

button {
  background: none;
  border: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
}

.active {
  background: white;
}

.start {
  padding: 1rem 2rem;
  font-size: 2rem;
  margin: 4rem 0;
  font-family: myFirstFont;
  background: white;
  cursor: pointer;
}

.start:active {
  transform: scale(0.9);
}

